In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world_alcohol - world_alcohol.csv')

In [4]:
wine_consumption = df[(df['Beverage Types'] == 'Wine') & (df['Display Value'] > 2)]
wine_consumption

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38